# Oqto platform starship configuration
# https://starship.rs/config/

format = """
$directory\
$git_branch\
$git_status\
$character"""

right_format = """$cmd_duration"""

[directory]
truncation_length = 3
truncate_to_repo = false
style = "bold cyan"

[git_branch]
format = "[$symbol$branch]($style) "
symbol = " "
style = "bold purple"

[git_status]
format = '([$all_status$ahead_behind]($style) )'
style = "bold red"

[character]
success_symbol = "[>](bold green)"
error_symbol = "[>](bold red)"

[cmd_duration]
min_time = 2_000
format = "[$duration]($style)"
style = "bold yellow"
